
@model AcesWebApp.ViewModels.ProfScreenViewModel

@{
    var content = Model;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfScreen</title>
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h1>Prof Screen</h1>

    <form enctype="multipart/form-data" asp-controller="ProfScreen" asp-action="Assignments" method="post" class="mt-3">
        <div class="container" style="width:30%;margin-top:2%;margin-left:auto;margin-right:auto">
            <select asp-for="classId" style="width: 100%;">
                @foreach (AcesWebApp.Models.Classrooms.Classroom classroom in content.Classrooms)
                {
                <option value="@classroom.classId">@classroom.className</option>
                }
            </select>


            @Html.TextBoxFor(model => model.assignmentName, new { style = "width:100%", @placeholder = "Assignment Name" })
            <br>
            @Html.TextBoxFor(model => model.securityKey, new { style = "width:100%", @placeholder = "Security Key" })
            <br>
            <div class="form-group row">
                <label asp-for="professorUnitTest" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="professorUnitTest" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose Professor Unit Test</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>


        </div>




        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>
        }
    </form>

    

    <a class="btn btn-primary btn-lg active" asp-controller="ProfScreen" asp-action="CreateClass">Create a class</a>


    <form asp-action="DeleteClass" method="post" class="form-horizontal" role="form">
        <div class="col-md-8">
            <div class="input-group">


                <select asp-for="ClassDelete" class="form-control">
                    >
                    @foreach (AcesWebApp.Models.Classrooms.Classroom classroom in content.Classrooms)
                    {
                        <option value="@classroom.classId">@classroom.className</option>
                    }
                </select>
                <div class="input-group-addon">
                    <input type="submit" class="btn btn-primary" value="Delete Class" />
                </div>
            </div>


        </div>
    </form>

</body>
</html>
