
@model AcesWebApp.Models.ProfScreenModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfScreen</title>
    <link rel="stylesheet" href="~/css/tablestyles.css">
</head>
<body>
    <h1>Prof Screen</h1>

    <div class="container" style="width:30%;margin-top:2%;margin-left:auto;margin-right:auto">
        <form asp-controller="ProfSceenController" asp-action="GetClassList">
            <select asp-for="className" asp-items="@(new SelectList(Model.classList, "Name", "Name"))"></select>
        </form>

        
        @Html.TextBoxFor(model => model.assignmentName, new { style="width:100%", @placeholder = "Assignment Name" })
        <br>
        @Html.TextBoxFor(model => model.unitTestFileLocation, new { style = "width:100%", @placeholder = "Unit Test File" })
        <br>
        @Html.TextBoxFor(model => model.studentRepoLocation, new { style = "width:100%", @placeholder = "Student Repo Location" })
        <br>
        @Html.TextBoxFor(model => model.securityKey, new { style = "width:100%", @placeholder = "Security Key" })
        <br>
        <a href="">Delete Class</a> <a href="">Create Class</a> <a href="">Check</a>
    </div>

</body>
</html>
